html.theme-dark {
  --back-color: #000028;
  --heder-title-color: #DB00FF;
  --bgr-text-color: #FF0070;
  --text-on-bgr-color: #000028;
  --title-text-color: #FF0070;
  --main-text-color: #F1B2CE;
  --decor-elem-color: #FF0070;
  --title-shad-color: #FF0070;
  --footer-shad-color: #FF0070;
  --link-shad-color: #FF0070;
  --back-img: url("../images/cover-image-dark.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --back-color: #000028;
    --heder-title-color: #DB00FF;
    --bgr-text-color: #FF0070;
    --text-on-bgr-color: #000028;
    --title-text-color: #FF0070;
    --main-text-color: #F1B2CE;
    --decor-elem-color: #FF0070;
    --title-shad-color: #FF0070;
    --footer-shad-color: #FF0070;
    --link-shad-color: #FF0070;
    --back-img: url("../images/cover-image-dark.png");
  }
}