html.theme-light {
  --back-color: #fff1f7;
  --heder-title-color: #ffc2e6;
  --bgr-text-color: #ff8dcb;
  --text-on-bgr-color: #353430;
  --title-text-color: #353430;
  --main-text-color: #353430;
  --decor-elem-color: #353430;
  --title-shad-color: #ff8dcb;
  --footer-shad-color: #ff8dcb;
  --link-shad-color: #ff8dcb;
  --back-img: url("../images/cover-image-light.png");
}

html.theme-light .rec-label {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --back-color: #fff1f7;
    --heder-title-color: #ffc2e6;
    --bgr-text-color: #ff8dcb;
    --text-on-bgr-color: #353430;
    --title-text-color: #353430;
    --main-text-color: #353430;
    --decor-elem-color: #353430;
    --title-shad-color: #ff8dcb;
    --footer-shad-color: #ff8dcb;
    --link-shad-color: #ff8dcb;
    --back-img: url("./images/cover-image-light.png");
  }

  .rec-label {
    visibility: hidden;
  }
}