html.theme-light{
  --shadow-color: #FF8DCB;
  --font-h1-color: #FFC2E6;
  --background-main-image: url(/images/cover-image-light.png);
  --spec-bckgr-color-p: #FF8DCB;
  --p-color: #353430;
  /* --title-out-bckgr-color: #ff0070; */
  --spec-font-color: #353430;
  --paragraf-color: -paragraf-color;
}

html.theme-light .rec-label{
  visibility: hidden;
}

@media (prefers-color-scheme: light){

  :root{
        --shadow-color: #FF8DCB;
        --font-h1-color: #FFC2E6;
        --background-main-image: url(/images/cover-image-light.png);
        --spec-bckgr-color-p: #FF8DCB;
        --p-color: #353430;
        /* --title-out-bckgr-color: #ff0070; */
        --spec-font-color: #353430;
        --paragraf-color: -paragraf-color;
  }

  .rec-label{
    visibility: hidden;
  }
}