/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font);
  background-color: var(--back-color);
  background-image: var(--back-img);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: var(--page-marg);
}

.header {
  display: grid;
  width: 100%;
  block-size: 100vh;
  grid-template-rows: 1fr auto 1fr;
}

.main {
  display: flex;
  flex-direction: column;
  margin-block: var(--main-marg);
  gap: var(--main-gap);
}

h1 {
  margin: 0;
  font-weight: var(--fat-text);
  font-size: var(--big-title-size);
  line-height: 83%;
  letter-spacing: 0%;
  align-self: center;
  justify-self: start;
  text-shadow: 4px 4px 0 var(--title-shad-color);
  color: var(--heder-title-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: right;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--title-text-color);
  border: initial;
  block-size: 26px;
  inline-size: 70px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-text-color);
  pointer-events: none;
}

.title-type-bgr {
  text-align: start;
  align-self: center;
  min-height: min-content;
  font-style: bold;
  font-weight: var(--fat-text);
  font-size: var(--text-size);
  line-height: var(--text-height);
  background-color: var(--bgr-text-color);
  color: var(--text-on-bgr-color);
  margin-bottom: 10px;
}

.rec-label {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--decor-elem-color);
  font-weight: 400;
}

.rec-label::after {
  content: '';
  display: inline-block;
  background-color: var(--decor-elem-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 0 2px var(--decor-elem-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--decor-elem-color);
  border-left: 1px solid var(--decor-elem-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decor-elem-color);
  border-right: 1px solid var(--decor-elem-color);
}

.main-section {
  display: grid;
}

.gallery-image {
  width: 100%;
}

.title-type {
  font-style: bold;
  font-weight: var(--fat-text);
  line-height: var(--text-height);
  letter-spacing: 0%;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

h4.title-type-bgr {
  color: var(--text-on-bgr-color);
  font-weight: 400;
  font-style: normal;
  line-height: var(--text-height);
  letter-spacing: 0%;
}

.default-text {
  display: block;
  justify-self: center;
  color: var(--main-text-color);
  font-style: regular;
  font-size: var(--text-size);
  font-weight: 400;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  block-size: calc(100vh - 2 * var(--page-marg));
}

.footer h1::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--decor-elem-color);
  border-left: 1px solid var(--decor-elem-color);
}

.footer h1::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decor-elem-color);
  border-right: 1px solid var(--decor-elem-color);
}

.margin-prgraf {
  margin-bottom: 20px;
}

.main_first_grid {
  grid-row: 2;
  grid-column: 1;
}

.☻ {
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  gap: var(--page-marg);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shad-color);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.footer h1 {
  color: var(--heder-title-color);
  text-shadow: 2px 2px 0 var(--footer-shad-color);
}

@media (width >= 768px) {
  :root {
    --page-marg: 20px;
  }

  .header-text {
    inline-size: 50%;
    justify-self: right;
    margin: 66px;
  }

  .main .main_section:nth-of-type(1) {
    display: grid;
    gap: var(--page-marg);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .main_first_grid {
    grid-column: 2;
    grid-row: 1;
  }

  .strange-shit {
    width: 20%;
  }

  .main .main_section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: var(--page-marg);
  }

  .gallery {
    display: grid;
    gap: var(--page-marg);
    grid-template-areas:
      'sunset sunset icecream'
      'tape books icecream'
      'tape street street';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 192fr 230fr 318fr;
    min-height: 780px;
    width: 100%;
  }

  .gallery li {
    display: contents;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: inherit;
  }

  .sunset {
    grid-area: sunset;
  }

  .tape {
    grid-area: tape;
  }

  .icecream {
    grid-area: icecream;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

@media (width>=1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .real-main_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--page-marg);
  }

  .strange-shit {
    width: 30%;
  }
  
  .footer h1 {
    text-shadow: 2px 2px 0 var(--footer-shad-color);
  }
}