/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-main-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  /*background-image: var(--background-header-image);
  background-size: cover;
  background-position: center;*/
  width: 100%;
  block-size: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
  padding-right: var(--page-padding);
}

.main {
  display: flex;
  flex-direction: column;
  margin-block: var(--margin-main);
  gap: var(--gap-main);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0%;
  align-self: center;
  justify-self: start;
  text-shadow: 4px 4px 0 var(--shadow-color);
  color: var(--font-h1-color);
}

.header__theme-menu {
  margin-top: var(--page-padding);
  align-self: center;
  justify-self: right;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--p-color);
  border: initial;
  block-size: 26px;
  inline-size: 70px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
}

.header__theme-menu-button_active {
  border: 1px solid var(--p-color);
  pointer-events: none;
}

.title-type-bgr {
  text-align: start;
  align-self: center;
  min-height: min-content;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  block-size: var(--block-size-special-bcgr);
  background-color: var(--spec-bckgr-color-p);
  color: var(--spec-font-color);
  margin-bottom: 10px;
}

.header .title-type-bgr {
  margin-left: var(--page-padding);
}

.rec-label {
  position: absolute;
  top: var(--page-padding);
  right: 19px;
  color: var(--p-color);
  font-weight: 400;
}

.rec-label::after {
  content: '';
  display: inline-block;
  background-color: var(--p-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 0 2px #ff007078;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  left: var(--page-padding);
  bottom: var(--page-padding);
  border-bottom: 1px solid var(--p-color);
  border-left: 1px solid var(--p-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  top: var(--page-padding);
  right: var(--page-padding);
  border-top: 1px solid var(--p-color);
  border-right: 1px solid var(--p-color);
}

.main-section {
  display: grid;
}

.gallery-image {
  width: 100%;
}

.title-type {
  font-style: bold;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--p-color);
  margin-bottom: 20px;
}

h4.title-type-bgr {
  color: var(--spec-font-color);
  font-weight: 400;
  font-style: normal;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.default-text {
  display: block;
  justify-self: center;
  color: var(--paragraf-color);
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* block-size: calc(100vh - 2 * var(--page-padding)); */
  block-size: 100vh;
}

.footer h1::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  left: var(--page-padding);
  bottom: var(--page-padding);
  border-bottom: 1px solid var(--p-color);
  border-left: 1px solid var(--p-color);
}

.footer h1::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  top: calc(var(--page-padding));
  right: var(--page-padding);
  border-top: 1px solid var(--p-color);
  border-right: 1px solid var(--p-color);
}

/* .main .main_section:nth-of-type(1) {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr;
}

.main .main_section:nth-of-type(1) h2:nth-of-type(1) {
  grid-row: 1;
  grid-column: 1;
} */

.margin-prgraf {
  margin-bottom: 20px;
}

.main_first_grid {
  grid-row: 2;
  grid-column: 1;
}

.☻ {
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  gap: var(--page-padding);
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--shadow-color);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

@media (width < 768px) {

   .main .main_section:nth-of-type(3) .default-text {
    font-style: regular;
    text-justify: start;
    inline-size: 100vw;
    padding-left: var(--page-padding);
  }
} 

@media (width >= 768px) {

  :root {
    --page-padding: 20px;
    --gap-main: 80px;
    --margin-main: 60px;
  }

  .header-text {
    inline-size: 50%;
    justify-self: right;
  }

  .main .main_section:nth-of-type(1) {
    display: grid;
    /* gap: var(--page-padding); */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .main_first_grid {
    grid-column: 2;
    grid-row: 1;
  }

  .strange-shit {
    width: 20%;
  }

  .main .main_section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: var(--page-padding);
  }

  .gallery {
    display: grid;
    gap: var(--page-padding);
    grid-template-areas:
      'sunset sunset icecream'
      'tape books icecream'
      'tape street street';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 192fr 230fr 318fr;
    min-height: 780px;
    width: 100%;
  }

  .gallery li {
    display: contents;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: inherit;
  }

  .sunset {
    grid-area: sunset;
  }

  .tape {
    grid-area: tape;
  }

  .icecream {
    grid-area: icecream;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .rec-label {
    right: 29px;
  }
}

@media (width>=1024px) {

    :root {
    --page-padding: 20px;
  }
  
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .real-main_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--page-padding);
  }

  .strange-shit {
    width: 30%;
  }

  h1 {
    font-size: 157px;
  }
}
