/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --shadow-color: #ff0070;
  --font-h1-color: #db00ff;
  --background-main-image: url(/images/cover-image-dark.png);
  --spec-bckgr-color-p: #ff0070;
  --p-color: #ff0070;
  --title-out-bckgr-color: #ff0070;
  --spec-font-color: #000028;
  --paragraf-color: #f1b2ce;
  --margin-main: 40px;
  --gap-main: 50px;
  --page-padding: 10px;
  --inline-size-special-bcgr: 117px;
  --block-size-special-bcgr: min-content;
}
